{% extends 'base.html' %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}">

{% endblock css_files %}
    

{% block page_title %}
    Blog
{% endblock page_title %}


{% block content %}
    
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/programmer.png' %}" alt="Diego - The Author Of This Blog">
            <h2>DIEGO'S BLOG</h2>
        </header>
        <p>Hi, I am Diego and I am a CS student</p>
        <section id="latest-posts">
            <h2>My Latest Thoughts</h2>

            <ul>
                
                {% for post in posts %}
                    {% include 'blog/includes/post.html' %}
                {% endfor %}
                    
            </ul>
        </section>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love learning about almost everything, but specially about programming and technology
        </p>
        <p>
            My goal is to learn new stuff and become a good developer!
        </p>
    </section>

{% endblock content %}
    